
<%= simple_form_for(@good) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title, required: true %>
    <%= f.input :name, required: true %>
    <%= f.input :nickname, required: true %>
    <%= f.input :is_seller, required: true %>
    <%= f.input :property_type, required: true %>
    <%= f.input :location, required: true %>
    <%= f.input :tel, required: true %>
    <%= f.input :email, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
