<br>
<%= image_tag(@good.thumbnail.variant(resize: "650x750")) %>
<br>
<%= "Vente #{@good.property_type} " %>
<br>
<%= "Le #{@good.created_at.strftime("%-d/%-m/%-y")} à #{@good.location.capitalize}" %>
<br>
<%= @good.name %>
<br>
<!-- ajouter ici le nom de l'agence en faisant @good.user.nom_de_ta_variable_avec_le_nom_d_agence -->
<% if @buyer %>
  <%= "Buyer review + étoiles + comments:" %>
  <p>Acheteur</p>
  <br>
  <%= @buyer.testimony %>
  <%= "total stars ==" %>
  <%= render "stars", seller_stars: @buyer.stars, buyer_stars: @buyer.stars %>
  <%= "service_quality ==" %>
  <%= render "stars", seller_stars: @buyer.service_quality, buyer_stars: @buyer.service_quality %>
  <br>
  <%= "interlocutor_skills ==" %>
  <%= render "stars", seller_stars: @buyer.interlocutor_skills, buyer_stars: @buyer.interlocutor_skills %>
  <%= "monitoring_care ==" %>
  <%= render "stars", seller_stars: @buyer.monitoring_care, buyer_stars: @buyer.monitoring_care %>
  <br>
<% end %>
<% if @seller %>
  <%= "Seller review + étoiles + comments:" %>
  <br>
  <%= @seller.testimony %>
  <%= "total stars ==" %>
  <%= render "stars", seller_stars: @seller.stars, buyer_stars: @seller.stars %>
  <%= "service_quality ==" %>
  <%= render "stars", seller_stars: @seller.service_quality, buyer_stars: @seller.service_quality %>
  <br>
  <%= "interlocutor_skills ==" %>
  <%= render "stars", seller_stars: @seller.interlocutor_skills, buyer_stars: @seller.interlocutor_skills %>
  <%= "monitoring_care ==" %>
  <%= render "stars", seller_stars: @seller.monitoring_care, buyer_stars: @seller.monitoring_care %>
  <br>
<% end %>
<h3>Moyennes</h3>
<%= "total stars ==" %>
<%= render "stars", seller_stars: (@seller ? @seller.stars : @buyer.stars), buyer_stars: @buyer ? @buyer.stars : @seller.stars %>
<%= "service_quality ==" %>
<%= render "stars", seller_stars: @seller ? @seller.service_quality : @buyer.service_quality, buyer_stars: @buyer ? @buyer.service_quality : @seller.service_quality %>
<br>
<%= "interlocutor_skills ==" %>
<%= render "stars", seller_stars: @seller ? @seller.interlocutor_skills : @buyer.interlocutor_skills, buyer_stars: @buyer ? @buyer.interlocutor_skills : @seller.interlocutor_skills %>
<%= "monitoring_care ==" %>
<%= render "stars", seller_stars: @seller ? @seller.monitoring_care : @buyer.monitoring_care, buyer_stars: @buyer ? @buyer.monitoring_care : @seller.monitoring_care %>
<br>

<%= link_to 'Back', root_path, class: "button is-primary" %>
