<p id="notice"><%= notice %></p>

<div class="container is-mobile">
  <div class="row is-mobile">
    <div class="col-md-10 md-offset-1">
      <em> <h1>Goods</h1> </em>

      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Name</th>
            <th>Nickname</th>
            <th>Seller</th>
            <th>Property type</th>
            <th>Location</th>
            <th>Tel</th>
            <th>Email</th>
            <th>User</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @goods.each do |good| %>

            <tr>
              <td><%= good.title %></td>
              <td><%= good.name %></td>
              <td><%= good.nickname %></td>
              <td><%= good.is_seller %></td>
              <td><%= good.property_type %></td>
              <td><%= good.location %></td>
              <td><%= good.tel %></td>
              <td><%= good.email %></td>
              <!-- <td><%= good.user_id %></td> -->
              <td><%= link_to 'Show', good, class: "button is-small is-active" %></td>
              <td><%= link_to 'Hide', good_reviews_path(good), class: "button is-small is-active" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
      <br>

      <%= link_to 'New Good', new_good_path, class: "button is-info" %>
