<p id="notice"><%= notice %></p>

<section class="section">
  <div class="container">
    <h1 class="title"><%= "#{t("views.good.index.all_goods")} " %></h1>
    <hr>
    <main>
      <div class="table-container">
<!-- Tables -->
        <table class="table is-bordered is-narrow is-striped is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th scope="col"><%= "#{t("views.good.index.title")} " %></th>
              <th scope="col"><%= "#{t("views.good.index.property_type")} " %></th>
              <th scope="col"><%= "#{t("views.good.index.location")} " %></th>
              <th scope="col"><%= "#{t("views.good.index.seller_name")} " %></th>
              <th scope="col"><%= "#{t("views.good.index.seller_phone")} " %></th>
              <th scope="col"><%= "#{t("views.good.index.seller_mail")} " %></th>
              <th scope="col"><%= "#{t("views.good.index.buyer_name")} " %></th>
              <th scope="col"><%= "#{t("views.good.index.buyer_phone")} " %>e</th>
              <th scope="col"><%= "#{t("views.good.index.buyer_mail")} " %></th>
              <th colspan="3"></th>
            </tr>
            <%= paginate @goods %>
          </thead>

          <tbody>

            <% @goods.each do |good| %>

              <tr>
                <td><%= good.title %></td>
                <td><%= "#{t("property_type.#{good.property_type}")}" %></td>
                <td><%= good.location %></td>

                <% if good.seller_id %>
                <% seller = Review.find(good.seller_id) %>
                <td><%= "#{seller.nickname} #{seller.name}"  %></td>
                <td><%= seller.name %></td>

                <td><%= seller.tel %></td>
                <td><%= seller.email %></td>
                <% end %>

                <% if good.buyer_id %>
                <% buyer = Review.find(good.buyer_id) %>
                <td><%= buyer.name %></td>
                <td><%= buyer.nickname  %></td>
                <td><%= buyer.tel %></td>
                <td><%= buyer.email  %></td>

                <% end %>


                <!-- <td><%= good.user_id %></td> -->
                <!-- <td><%= link_to 'Show', good, class: "button is-small is-active" %></td> -->
                <td><%= link_to "#{t("views.good.index.admin_reviews")} ", good_reviews_path(good), class: "button is-small is-active" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="is centered">
              <button type="button" class="button is-link is-outlined is-rounded"><%= link_to "#{t("views.good.index.create_new_good")} ", new_good_path%></button>
      </div>

    </main>
  </div>
</section>
