<p id="notice"><%= notice %></p>

<div class="column is-4">
      <%= image_tag @good.thumbnail.variant(resize: "320x495") %>
</div>
<p>
  <strong>Title:</strong>
  <%= @good.title %>
</p>

<p>
  <strong>Name:</strong>
  <%= @good.name %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @good.nickname %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @good.is_seller %>
</p>

<p>
  <strong>Property type:</strong>
  <%= @good.property_type %>
</p>

<p>
  <strong>Location:</strong>
  <%= @good.location %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @good.tel %>
</p>

<p>
  <strong>Email:</strong>
  <%= @good.email %>
</p>

<!-- <p>
  <strong>User:</strong>
  <%= @good.user_id %>
</p> -->

<%= link_to 'Edit', edit_good_path(@good), class: "button is-link" %>
<%= link_to 'Back', goods_path, class: "button is-info" %>
