<p><%= "#{t("views.application.hello")}" %> <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= "#{t("views.devise.mailer.email_change.body_present")}" %> <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p><%= "#{t("views.devise.mailer.email_change.body_past")}" %> <%= @resource.email %>.</p>
<% end %>
