<% if @object %>
  <%= simple_form_for @object, url: good_review_path(@good, @object), method: :put, authenticity_token: true do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :stars, required: true %>
      <%= f.input :service_quality, required: true  %>
      <%#, collection: [1,2,3,4,5,6,7,8,9,10]%>
      <% f.input :service_quality, required: true %>
      <%= f.input :interlocutor_skills, required: true %>
      <%= f.input :monitoring_care, required: true %>
      <%= f.input :company_recommendation %>
      <%= f.input :testimony, required: true %>
      <%= f.input :token, as: :hidden %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
<% else %>
  <p>You are not authorized to perform this action</p>
<% end %>
