<% if @object %>
  <%= simple_form_for @object, url: good_review_path(@good, @object), method: :put, authenticity_token: true do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">


      <br>
      <h1><strong><%= "#{@good.property_type.capitalize} à #{@good.location.capitalize}" %></strong></h1>
      <br>

      <br>
      <%= f.input :name, required: true %>
      <%= f.input :nickname, required: true %>
      <%= f.input :location, required: true %>
      <%= f.input :tel, required: true %>
      <%= f.input :email, required: true %>

      <%= f.input :service_quality, input_html: {  value: '5',min: '1', max: '5', step: 'any' }, required: true  %>
      <%#, collection: [1,2,3,4,5,6,7,8,9,10]%>
      <% f.input :service_quality, input_html: {  value: '5',min: '1', max: '5', step: 'any' }, required: true %>
      <%= f.input :interlocutor_skills, input_html: {  value: '5',min: '1', max: '5', step: 'any' }, required: true %>
      <%= f.input :monitoring_care, input_html: {  value: '5',min: '1', max: '5', step: 'any' }, required: true %>
      <%= f.input :company_recommendation %>
      <%= f.input :testimony, required: true %>
      <%= f.input :token, as: :hidden %>
    </div>

    <br>
    <div class="form-actions">
      <%= f.button :submit, class: "button is-info" %>
    </div>
  <% end %>
<% else %>
  <p>You are not authorized to perform this action</p>
<% end %>
