<% if @object %>
  <%= simple_form_for @object, url: good_review_path(@good, @object), method: :put, authenticity_token: true do |f| %>

    <div class="form-inputs">
      <br>
        <h3><%= "#{t("views.review.form_confirm")} " %></h3>
      <br>


      <%= f.input :title, :as => :hidden, :input_html => { :value => @token } %>
    </div>

    <br>
    <div class="form-actions">
      <%= f.button :submit, class: "button is-info" %>
    </div>
  <% end %>
<% else %>
  <p><%= "#{t("views.application.403")} " %></p>
<% end %>
