
<br>
<div class="columns">
  <div class="section">
    <div>
      <%= @seller.testimony if @seller %>
    </div>


<% if @seller && @seller.token != "USED" %>
  <%= link_to "seller_form" ,good_review_path(@good, @seller, token: @seller.token), class: "button is-info"  %>
  <%= mail_to("", "send mail to seller", {subject: 'BientôtVendu.Com @ Quality services - Invitation to complete satisfaction form', body: " Bonjour,

  Merci de bien vouloir compléter le questionnaire de satisfaction à l'adresse ci-dessous :

    http://localhost:3000/goods/#{@good.id}/reviews/#{@seller.id}?token=#{@seller.token}", class: "button is-outlined"}) %>

<% elsif @seller && @seller.token == "USED" && current_user && @seller.token_confirm == "USED" %>
  <%= link_to good_review_path(@good, @seller), method: :patch do %>
    <p class="button is-info is-outlined">Make S. Review <%= @seller.is_visible ? "invisible" : "visible" %></p>
  <% end %>
<% end %>
</div>
<br>
<br>
<div class="section">
  <div>
    <%= @buyer.testimony if @buyer %>
  </div>

<% if @buyer && @buyer.token != "USED" %>
  <%= link_to "buyer_form" ,good_review_path(@good, @buyer, token: @buyer.token), class: "button is-info"  %>
  <%= mail_to("", "send mail to buyer", { subject: 'Invitation to complete form', body: "http://localhost:3000/goods/#{@good.id}/reviews/#{@buyer.id}?token=#{@buyer.token}", class: "button is-outlined"} ) %>
<% elsif @buyer && @buyer.token == "USED" && current_user && @buyer.token_confirm == "USED" %>
  <%= link_to good_review_path(@good, @buyer), method: :patch do %>
    <p class="button is-info is-outlined">Make B. Review <%= @buyer.is_visible ? "invisible" : "visible" %></p>
  <% end %>
<% end %>
</div>
<br>
<br>
  <div class="section">
<%= link_to goods_path, class: "button is-link" do %>Retour aux biens<% end %>
</div>
</div>
