<br>
<div class="columns">
  <div class="section">
    <div>
      <%= @seller.testimony if @seller && @seller.token != "USED" %>
    </div>


<% if @seller && @seller.token != "USED" %>
  <%= link_to "#{t("views.review.index.seller_form")}" ,good_review_path(@good, @seller, token: @seller.token), class: "button is-info"  %>
  <%= mail_to("", "#{t("views.review.index.send_mail_seller")}" , {subject: "#{t("views.review.index.mail_subject")} ", body: "#{t("views.review.index.mail_body")} #{url_for(good_reviews_url(@good, @seller, token: @seller.token))} ".html_safe , class: "button is-outlined"}) %>

<% elsif @seller && @seller.token == "USED" && current_user && @seller.token_confirm == "USED" %>
  <%= link_to good_review_path(@good, @seller), method: :patch do %>
    <p class="button is-info is-outlined"><%= "#{t("views.review.index.make_review")} " %> <%= @seller.is_visible ? "#{t("views.review.index.invisible")} " : "#{t("views.review.index.visible")} " %></p>
  <% end %>
<% end %>
</div>
<br>
<br>
<div class="section">
  <div>
    <%= @buyer.testimony if @buyer %>
  </div>

<% if @buyer && @buyer.token != "USED" %>
  <%= link_to "#{t("views.review.index.buyer_form")} " ,good_review_path(@good, @buyer, token: @buyer.token), class: "button is-info"  %>
  <%= mail_to("", "#{t("views.review.index.send_mail_buyer")}", { subject: "#{t("views.review.index.mail_subject")}", body: "#{t("views.review.index.mail_body")}, #{url_for(good_review_url(@good, @buyer, token: @buyer.token))}" , class: "button is-outlined"} ) %>
<% elsif @buyer && @buyer.token == "USED" && current_user && @buyer.token_confirm == "USED" %>
  <%= link_to good_review_path(@good, @buyer), method: :patch do %>
    <p class="button is-info is-outlined"><%= "#{t("views.review.index.make_review")}" %> <%= @buyer.is_visible ? "#{t("views.review.index.invisible")}" : "#{t("views.review.index.visible")}" %></p>
  <% end %>
<% end %>
</div>
<br>
<br>
  <div class="section">
<%= link_to goods_path, class: "button is-link" do %> <%= "#{t("views.review.index.back_to_goods")}" %><% end %>
</div>
</div>
